* {
    
}

.logo {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header {
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.header .filter {
    font-size: 22px;
    font-weight: 600;
}

.header p {
    font-size: 18px;
    font-weight: 400;
}

button {
    width: 160px;
    height: 45px;
    border-radius: 10px;
    background-color: #6a0d83;
    margin-bottom: 40px;
    border: none;
}

.button-text {
    color: #ffffff;
    margin-bottom: 40px;
    border: none;
    font-family: 'Quicksand', sans-serif;
}

/*
a.button-text:link {
   color: #ffffff;
   text-decoration: none;
}

a.nav-link:visited {
   color: #ffffff;
   text-decoration: none;
}

a.nav-link:hover {
   color: #ffffff;
   text-decoration: none;
}

a.nav-link:active {
   color: #ffffff;
   text-decoration: none;
}
*/

.header ul {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 75px;
    padding: 0px;
}



.container {
    margin: 0 auto;
    width: 75%;
    
}
